@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'butter-sans';
    src: url('./assets/fonts/buttersans.woff2') format('woff2'),
        url('./assets/fonts/buttersans.woff') format('woff');
}
body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiTextField-root > .MuiInputLabel-root{
  color: rgb(255 255 255);
}
.MuiInputBase-root > .MuiInputBase-input{
  color: rgb(255 255 255);
}

.MuiTextField-root > .MuiInputLabel-root.Mui-focused{
  color: rgb(255 255 255);
}
.MuiTextField-root > .MuiOutlinedInput-root:hover > .MuiOutlinedInput-notchedOutline{
  border-color: #FE7179;
}
.MuiTextField-root > .MuiOutlinedInput-root.Mui-focused > .MuiOutlinedInput-notchedOutline{
  border-color: #FE7179;
}
#addnewproject-actions{
  flex-direction: row;
}
.MuiButtonBase-root.MuiTab-root.Mui-selected{
  background: rgb(142 98 158 / 0.8);
  color: #FE7179;
}
.MuiTabs-scroller >.MuiTabs-indicator{
  background: #FE7179;
}
.MuiMenu-root >.MuiPaper-root{
  min-width: 220px;
}
.MuiMenu-list > .MuiMenuItem-root{
  justify-content: space-between;
}
